fastapi
uvicorn[standard]
sqlalchemy
pydantic
passlib[bcrypt]
bcrypt==4.0.1
cors
python-multipart
email-validator
python-dotenv
psycopg2-binary
psycopg[binary]
python-jose[cryptography]
requests
firebase-admin